<div class="inputs">
  <a
   class="env-option easing"
   (click)="this.main.display_env = !this.main.display_env;"
  >
   <i class="fas fa-toolbox"></i>
   env
  </a>
  <a
   class="dir-option easing"
   (click)="this.main.display_cwd = !this.main.display_cwd;"
  >
   <i class="fas fa-folder-open"></i>
   {{this.main.cwd_formatted}}
  </a>
  <input type="text" placeholder="Type a shell command..." [(ngModel)]="this.main.command_input" (keyup.enter)="this.main.run(this.main.command_input)"/>

  <div
  class="env-popover easing"
  [ngClass]="{'active': this.main.display_env}"
  >
   <div class="env-var" *ngFor="let envVar of this.main.env; let i = index;">
    <p>{{envVar.key}}: {{envVar.value}}</p>
   </div>
  </div>

  <div
  class="dir-popover easing"
  [ngClass]="{'active': this.main.display_cwd}"
  >
  <input type="text" placeholder="Need a valid CWD..." [(ngModel)]="this.main.cwd" (input)="this.main.formatCwd();"/>
 </div>

</div>
