<div class="inputs">
  <a
   class="env-option easing"
   (click)="this.main.display_env = !this.main.display_env;"
  >
   <i class="fa fa-gear"></i>
   env
  </a>
  <a
   class="dir-option easing"
   (mouseenter)="this.main.display_cwd = true;"
   (mouseleave)="this.main.display_cwd = false;"
  >
   <i class="fa fa-folder"></i>
   {{this.main.cwd_formatted}}
  </a>
  <input type="text" placeholder="Type a shell command..." [(ngModel)]="this.main.command_input" (keyup.enter)="this.main.run(this.main.command_input)"/>

  <div
  class="env-popover easing"
  [ngClass]="{'active': this.main.display_env}"
  >
   <div class="env-var" *ngFor="let envVar of this.main.env; let i = index;">
    <a class="option easing delete">
     <i class="fa fa-close"></i>
    </a>
    <p>{{envVar.key}}: {{envVar.value}}</p>
   </div>
  </div>

  <div
  class="dir-popover easing"
  [ngClass]="{'active': this.main.display_cwd}"
  >

 </div>

</div>
